.grid {
    display: grid;
}

.grid-template-columns {
    grid-template-columns: ;
}

.column-gap-30 {
    column-gap: 30px;
}

.grid-item {
    background-color: #fff;
}

.h-1024 {
    height: 1024px;
}