.icon {
    width: 22px;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-sm {
    width: 18px;
    height: 18px;
}

.icon-m {
    width: 24px;
    height: 24px;
}

.icon-l {
    width: 30px;
    height: 30px;
}

.img-l {
    width: 520px;
    height: 300px;
}

.img-xl {
    width: 520px;
    height: 500px;
}

.icon-home {
    background-image: url('../icons/home.svg');
}

.icon-bookmark {
    background-image: url('../icons/Bookmarks.svg');
}

.icon-explore {
    background-image: url('../icons/explore.svg');
}

.icon-list {
    background-image: url('../icons/Lists.svg');
}

.icon-message {
    background-image: url('../icons/messages.svg');
}

.icon-more {
    background-image: url('../icons/more.svg');
}

.icon-notification {
    background-image: url('../icons/Notifications.svg');
}

.icon-profile {
    background-image: url('../icons/Profile.svg');
}

.icon-premium {
    background-image: url('../icons/twitterx.svg');
}

.icon-ellipse-v {
    background-image: url('../icons/ellipse-v.svg');
}

.icon-timeline {
    background-image: url('../icons/timeline-prop.svg');
}

.icon-emoji {
    background-image: url('../icons/emoji.svg');
}

.icon-gif {
    background-image: url('../icons/gif.svg');
}

.icon-media {
    background-image: url('../icons/media.svg');
}

.icon-poll {
    background-image: url('../icons/poll.svg');
}

.icon-schedule {
    background-image: url('../icons/schedule.svg');
}

.icon-verified {
    background-image: url('../icons/verified.svg');
}

.icon-react {
    background-image: url('../icons/heart.svg');
}

.icon-reply {
    background-image: url('../icons/reply.svg');
}

.icon-retweet {
    background-image: url('../icons/retweet.svg');
}

.icon-share {
    background-image: url('../icons/share.svg');
}

.icon-search {
    background-image: url('../icons/search.svg');
}

.icon-settings {
    background-image: url('../icons/settings.svg');
}
